---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  // getRankedPosts,
  // getAllTags,
  getNumberOfPages,
getAllTags,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
// import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
// import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import PostExcerpt from '../components/PostExcerpt.astro'
import ReadMoreLink from '../components/ReadMoreLink.astro'
import Pagination from '../components/Pagination.astro'
// import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import PostDates from '../components/PostDates.astro'
import styles from '../styles/blog.module.css'
// import SearchButton from '../components/SearchButton.astro'
import { getDatabase } from '../lib/notion/client.ts'

const [posts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  // getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])

const database = await getDatabase()
---

<Layout title="" description="" path="/" ogImage="">
  <div slot="main" class={styles.main}>
    <div class="blog-header">
      <div class="description">
        {database.Description}
        <!-- <SearchButton /> -->
      </div>
    </div>
    <div>
      <BlogTagsLink heading="Categories" tags={tags} />
    </div>

    <h4 class="blog-header-style">Blogs</h4>
    {
      posts.length === 0 ? (
        <NoContents contents={posts} />
      ) : (
        <div style={{ display: 'flex', flexDirection: 'column', gap: '1rem' }}>
          {posts.map((post) => (
            <ReadMoreLink post={post}>
              <PostTitle post={post} enableLink={true} />
              <PostExcerpt post={post} />
              <PostDates post={post} />
            </ReadMoreLink>
          ))}
        </div>
      )
    }

    <footer>
      <Pagination tag="pagination" currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>

  <!-- <div slot="aside" class={styles.aside}>
    <BlogPostsLink heading="Recommended" posts={rankedPosts} />
    <BlogTagsLink heading="Categories" tags={tags} />
  </div> -->
</Layout>

<style>
  .blog-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-header-style {
    margin: 0;
    padding: 0.5rem;
    color: #777;
  }
  .description {
    padding: 0.3rem 0 0.6rem;
    font-size: 0.95rem;
  }
  footer {
    margin-top: 2rem;
  }
</style>
