---
import type { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props

const title = post.Title
---

<p class="post-title">
  {
    enableLink ? (
      // indexページ
      <a href={getPostLink(post.Slug)}>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{(post.Icon as { Emoji: string }).Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={(post.Icon as {Url: string}).Url} alt="Post title icon" />
            {title}
          </>
        ) : (
          title
        )}
      </a>
    ) : (
      <>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span>{(post.Icon as { Emoji: string }).Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img
              src={(post.Icon as {Url: string}).Url}
              alt="Post title icon"
              style={{ display: 'inline-block' }}
            />
            {title}
          </>
        ) : (
          title
        )}
      </>
    )
  }
</p>

<style>
  .post-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: var(--fg);
  }
  .post-title a {
    font-size: 1.2rem;
    color: inherit;
  }
  .post-title span,
  .post-title img {
    display: inline-block;
    margin-right: 0.2em;
  }
  .post-title span {
    font-size: 1.3rem;
  }
  .post-title img {
    width: 1.3em;
    height: 1.3em;
    vertical-align: sub;
  }
  .slug-title > :not(img) {
    font-size: 2.3rem !important;
    font-weight: 700 !important;
  }
  @media (max-width: 640px) {
    .post-title { /* 記事タイトル */
      font-size: 1.3rem;
    }
    .post-title a { /* 一覧タイトル */
      font-size: 1.2rem;
    }
    .slug-title > :not(img) {
      font-size: 1.8rem !important;
    }
  }
</style>
